<form id="question-comment-form" method="post" action="/questions/<%= @question.id%>/comments">
  <input type="hidden" name="user_id" value="<%= session[:user_id] %>">
  <label for "comment_body">Comment:</label>
  <input id="comment_body" type="text" name="comment" placeholder="Your Comment Here" required>
  <input type="submit" value="Make a Comment">
</form>
