.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
  clear: both;
}

a{
    text-decoration: none;
    color: blue;
}
.title{
    float: left;
    margin-left: 50px;
}

nav{
    margin-right: 50px;
}

.navbar{
    margin-top: 37px;
    float:right;
    text-decoration: none;
    padding-right: 5px;
}

.headernames{
    text-decoration: none;
}

.headernames:hover {
    color: red;
}
