<h1>Welcome to CGI Overflow</h1>
<p>Here we show a list of the most recent questions</p>

<% @questions.each do |question| %>
  <div class="question_container">
    <div class="question_title">
      <h4><a href='/questions/<%= question.id %>'><%= question.title %></a></h4>
    </div>
<!--       <a class="delete" href='/questions/<%= question.id %>'>delete</a>-->
  </div>
<% end %>
